extends header.pug
block content
    form(method="POST", action="/login")
        input(type='text', placeholder='Username', name='username')
        input(type='password', placeholder='Password', name='password')
        input(type='password', placeholder='Confirm password', name='confirmPassword')